@import url(./main.css);

body {
  display: flex;
  flex-direction: column;
  background-color: var(--azul-fondo);
  height: 100vh;
  margin: 0; /* Asegúrate de eliminar el margen por defecto */
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4vw;
  align-items: center;
}

.admin-main > div {
  border: 6px solid #00aeffa9;
  background-color: #FFFFFF;
  padding: 20px;
  width: 40%;
  height: 50%;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  font-size: 4.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  transition: transform .3s ease, box-shadow .3s ease;
<<<<<<< HEAD
=======
  i, h2 {
    transition: opacity .3s ease;
  }
>>>>>>> master
}

.admin-main div:hover {
  transform: scale(1.1);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
<<<<<<< HEAD
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); */
=======
  /* opacity: .8; */
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4); */
  i, h2 {
    opacity: .7;
  }
>>>>>>> master
}

.admin-main div a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}