@import url(main.css);

body {
    overflow: hidden;
    height: 100vh;
<<<<<<< HEAD
    background-color: var(--fondo);
=======
    /* background-color: var(--fondo); */
>>>>>>> master
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
}

.select-languaje {
<<<<<<< HEAD
=======
    background-color: #33333365;
    padding: 2rem;
    border-radius: 20px;
    color: #F0F0F0;
>>>>>>> master
    align-items: center;
    margin-top: -20vh;
    display: flex;
    flex-flow: column;
    gap: 20px;
    color: var(--texto);
    font-size: 1.7rem;
    text-align: center;
}

<<<<<<< HEAD
h1 {
    text-align: center;
    color: var(--texto);
=======
.select-languaje p {
    font-weight: 500;
    color: #FFFF;
}

h1 {
    text-align: center;
>>>>>>> master
    font-size: 4rem;
    font-weight: bold;
    margin-top: 20vh;
    text-align: center;
}
  
span {
color: #1CB0F6;
}
  
select {
    padding: 7px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    font-size: 23px;
    color: var(--texto);
    width: 200px;
  }
  

select option {
    background-color: #f9f9f9;
    color: #333;
}

select:hover {
    border-color: #999;
  }

  select:focus {
    border-color: #2eaadd;
    box-shadow: 0 0 5px rgba(46, 173, 221, 0.5);
}


