@import url(main.css);
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--azul-fondo);
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Ahora centrado verticalmente */
  align-items: center;
  position: relative;
}

.info {
  /* transform: scale(1.1); */
  margin-bottom: 25px;
  display: flex;
  flex-flow: column wrap;
  gap: 2rem;
  padding: 4rem;
  border-radius: 25px;
  text-align: center;
  background-color: #ffffff;
}

.info h3 {
  color: #333;
  font-size: 2.5rem;
  font-weight: 500;
}

.next {
  margin-top: .8rem;
  display: flex;
  flex-flow: column wrap;
  gap: .7rem;
}

.next p{
  font-size: 1.5rem;
  color: #444;
  padding: 0 5px;
}

.info span {
  color: #1CB0F6;
  font-weight: bold;
}
